<!DOCTYPE html>
<html>
  <head>
    <title>Splitcash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.images = {
        logo: "<%= image_url('sc_logo.png') %>",
        bg: "<%= image_url('geo-bg.jpg') %>",
        logo_white: "<%= image_url('sc_logo_white.png') %>",
        reviews: "<%= image_url('reviews.png') %>",
        bill: '<%= image_url('bill_img.png') %>',
        user: '<%= image_url('user_default.png') %>'
      }
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
